<section class="box p-1 m-6 custom-box">
    <h2 class="title p-2 custom-text"></h2>
    <div class="p-5 custom-inner container is-fullhd">
        <p>{{text}}</p>
        <p>--{{user.username}} {{format_date createdAt}}</p>
    </div>
</section>