<section >
    {{!-- links to post page --}}
    <a href="/post/{{id}}">
        <header>
            <h1>{{title}}</h1>
            <p>
                {{!-- username grabbed from parent user --}}
                {{user.username}}
            </p>
        </header>
        <p>{{text}}</p>
    </a>
</section>