<section >
    {{!-- links to post page --}}
    <a href="/post/{{id}}">
        <header>
            <h1>{{title}}</h1>
            <p>
                hello
                {{!-- username grabbed from parent user --}}
                {{format_date createdAt}}
            </p>
        </header>
    </a>
</section>