<div>
    {{!-- show all posts --}}
    {{#each posts as |post|}}
    {{> user-post}}
    {{/each}}
    <div class="buttons is-centered">
        <a class="button custom-button" href="/newpost">+ New Post</a>
    </div>
</div>




