<div>
    {{!-- show all posts --}}
    {{#each posts as |post|}}
    {{> user-post}}
    {{/each}}
    <a href="/newpost">+ New Post</a>
</div>

{{!-- script to go to create post screen --}}
{{!-- <script src="./js/newpost.js"></script> --}}


