<div>
    <div>
        <h2>Login</h2>
        <form id="login-form">
            <div>
                <label for="user-login">Username:</label>
                <input type="text" id="user-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">login</button>
            </div>
        </form>
        <a href="/signup">Don't have an account? Sign up here!</a>
    </div>
</div>

{{!-- script to call login functions --}}
<script src="./js/login.js"></script>