{{!-- show post details --}}
<section>
    <h2 id="post-title" data-post="{{post.id}}">{{post.title}}</h2>
    <p>Created by: {{post.user.username}} {{format_date post.createdAt}}</p>
    <p>text</p>
</section>
{{!-- cycle through any comments --}}
<div>
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</div>
<div>
    <h2>Comment</h2>
    <form id="add-comment">
        <div>
                <label for="comment-text">Text:</label>
                <textarea type="text" id="comment-text" ></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
    </form>
</div>

{{!-- script to go to create comment screen --}}
<script src="../js/newcomment.js"></script>

