<div>
    <div>
        <h2>Sign Up</h2>
        <form id="signup-form">
            <div>
                <label for="user-login">Username:</label>
                <input type="text" id="user-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">sign up!</button>
            </div>
        </form>
        <a href="/login">Already a user? Login here!</a>
    </div>
</div>

{{!-- script to call signup functions --}}
<script src="./js/signup.js"></script>